
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header button {
    background-color: #ff6f61;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: #ff4b3a;
}

.header .actions button {
    background-color: #ff6f61;
    margin-left: 10px;
}


.panel-indicadores {
    text-align: center;
    margin-bottom: 20px;
}

.panel-indicadores h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.contenedor{
    display: flex;
    top: 40%;
    right: 48%;
}
.cj1{
    color: #070707;
    margin-left: 200px;
  
}
.cj2{
    margin-left: 1200px;
}
.cj3{
   top: 40%;
   position: absolute;
   right: 48%;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.table .progress.red {
    background-color: #ff4b3a;
}

.table .progress.green {
    background-color: #4caf50;
}

.table .progress.orange {
    background-color: #ff9800;
}

.table .actions {
    display: flex;
    justify-content: center;
}

.table .actions button {
    background-color: #ff6f61;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.table .actions button:hover {
    background-color: #ff4b3a;
}
button{
    top: 65%;
    left: 43%;
    position: absolute;
    background-color: #ff9800;
    border-radius: 25px;
    padding: 10px;
}